<header
    class="flex items-center justify-between border-b-4 border-black bg-white dark:bg-slate-900 px-10 py-4 sticky top-0 z-50">
    <div class="flex items-center gap-8">
        <a href="/" class="flex items-center gap-3 hover:opacity-80 transition-opacity">
            <div class="bg-primary p-2 comic-border-sm rotate-[-3deg]">
                <span class="material-symbols-outlined text-white text-3xl font-bold">auto_stories</span>
            </div>
            <h2 class="text-3xl font-black italic tracking-tighter uppercase hero-text text-primary">Comic Trip</h2>
        </a>
    </div>
    <div class="flex items-center gap-4">
    </div>
</header>